* {
}

body {
    background-color: #0a0a23;
}

div {
    text-align: center;
}

#header {
    margin-bottom: 50px;
    color: white;
    font-size: 3em;
}

.ellapot {
    position: absolute;
    right: 35%;
    left: 35%;
    top: 10%;
    padding: 10px;
    max-width: 30em;
}

.form-div {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-size: 1.4em;
    display: list-item;
    max-height: auto;
}
#label-div{
    padding: 2%;
}
#input-div{
    display: flex;
    max-width: 100%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#text-input {
    padding-right: 25%;
    margin-right: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none

}

#check-btn {
    width: 30px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: black;
}
#definition-div{
    background-color: lightgreen;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.4em;
}
#results{
    max-width: auto;
}

